@model Model.Infrastructure.ModelCatalog
@{
    ViewBag.Title = "Category";
}

@*<h2>Category</h2>*@

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Подкатегории</a></li>
        </ul>

        @foreach (var element in Model.Categorys)
        {
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink(element.NAME, "Category", "Product", new { id = element.ID }, null)
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Товары</a></li>
        </ul>

        @foreach (var element in Model.Products)
        {
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink(element.NAME, "Details", new { id = element.ID })
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-5">
                            @Html.LabelFor(modeItem => element.QUNTITY)
                        </div>
                        <div class="col-lg-7">
                            @Html.DisplayFor(modeItem => element.QUNTITY)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-5">
                            @Html.LabelFor(modeItem => element.PRICE_ONE)
                        </div>
                        <div class="col-lg-7">
                            @Html.DisplayFor(modeItem => element.PRICE_ONE)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        @Html.ActionLink("В корзину", "AddedToBasket", new { id = element.ID }, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>


            </div>
        }
    </div>
</div>



