@model Model.Infrastructure.PageModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Product.NAME)</h2>

<fieldset>
    @*<legend>AGRO_PRODUCT</legend>*@

    @*<div class="display-label">
        @Html.DisplayNameFor(model => model.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>*@

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.QUNTITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.QUNTITY)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.PRICE_ONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.PRICE_ONE)
    </div>
</fieldset>


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
